<script>
 // Initially this component extended <nav> tag, for for some unknown reasons this element is always hidden on iPhone browsers


 class Component extends HTMLElement {
     constructor() {
         super();

         this.active = null;

         this.onClick = this.onClick.bind(this);
     }

     shadowRootAddedCallback() {
         const menuButtons = Array.from(this.shadowRoot.querySelectorAll('li'));
         menuButtons.forEach(item => {
             item.addEventListener('click', this.onClick);
         });

         this.active = this.shadowRoot.querySelector(`li:has(a[href~="${location.hash}"])`)
                    || this.shadowRoot.querySelector(`li:has(a[href~="#touchpad"])`);
         if (this.active) {
             this.active.classList.toggle('active');
         }
     }

     onClick(event) {
         if (this.active) {
             this.active.classList.remove('active');
         }

         this.active = event.currentTarget;
         this.active.classList.add('active');
     }
 }
</script>

<ul>
    <li><a href="#touchpad">Touchpad</a></li>
    <li><a href="#keyboard">Keyboard</a></li>
    <li><a href="#media">Media</a></li>
    <li><a href="#settings">Settings</a></li>
</ul>

<style>
 @use 'theme.scss';

 :host {
     font-size: inherit;
     line-height: inherit;
 }

 ul {
     display: flex;
     list-style-type: none;
     padding: 0;
     margin: 0;
     white-space: nowrap;
     overflow-x: auto;

     li {
         display: inline-block;
         margin: 0.5em;
         border: 1px solid;
         box-shadow: 0 0 3px 0 light-dark(black, white);

         &.active {
             background-color: initial;
             color: theme.$accent-text-color;
             border-color: theme.$accent-color;
             box-shadow: 0 0 8px 3px theme.$accent-color;
         }

         a {
             display: inline-block;
             padding: 0.5em;
             color: inherit;
             text-decoration: none;
         }
     }
 }
</style>
