@use 'theme.scss';

html {
	color-scheme: dark;
	color-scheme: light dark;
}

html,
body,
.ui {
	height: 100%;
	margin: 0;
}

.ui {
	display: flex;
	flex-direction: column;
}

.nav {
	margin-block-start: 0.5em;
	border-bottom: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

main {
	padding: 0.5em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex: 1;

	> section {
		display: none;

		> * {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
	}
}

:target {
	display: initial;
}

input {
	&:not([type]),
	&[type=number],
	&[type=range],
	&[type=search],
	&[type=url],
	&[type=text] {
		min-width: 5em;
	}
}

.flex-grow {
	flex-grow: 1;
}


#touchpad {
	height: 100%;

	> * {
		justify-content: stretch;
		height: 100%;
	}
}
